modal
pydantic
polars
matplotlib
anthropic
openai
python-dotenv
pydantic-settings
names
tiktoken
aiohttp
fastapi
uvicorn
libcst
sqlmodel
backoff
aiohttp
tiktoken
setuptools
pytest
pytest-asyncio
pytest-cov
pytest-benchmark
jsonschema
ipykernel
aiofiles
datasets
pydantic
matplotlib
numpy
tqdm
networkx
plotly
ipywidgets
anywidget
nbformat